body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: url(/assets/img/pagebackimage.png) no-repeat center center fixed;
    background-size: cover;
    background-clip:content-box;
    height: 100vh;
    overflow: hidden;
}

/*Dashboard*/
.dashboard-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard{
    background-color: #151720;
    border-radius: 10px;
    border: 4px solid #1d284d;
    padding: 40px;
    height:700px;
    width: 1700px;
}


.box-container{
    height: 710px;
    width: 1560px;
    margin-top: 560px;
    margin-left: 175.5px;
    position: relative;
}




.dashboard-box-calender {
    width: calc(33.33% - 20px);
    height: 300px;
    margin: 10px;
    margin-top: -595px;
    margin-left: 1055.5px;
    background-color: #343F56;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.dashboard-box2 {
    width: calc(22.33% - 20px);
    height: 200px;
    margin: 10px;
    margin-top: -307.5px;
    margin-left: 46.2%;
    background-color: #343F56;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.dashboard-box-payday {
    width: calc(11.33% - 20px);
    height: 125px;
    margin: 10px;
    margin-top: -210.5px;
    margin-left: 25.6%;
    background-color: #343F56;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}



.dashboard-box-misc2 { /*Decide what this box is for*/
    width: calc(11.33% - 20px);
    height: 125px;
    margin: 10px;
    margin-top: -135px;
    margin-left: 35.9%;
    background-color: #343F56;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.dashboard-box-tasks { /*Decide what this box is for*/
    width: calc(16.33% - 20px);
    height: 400px;
    margin: 10px;
    margin-top: 180px;
    margin-left: 1320.5px;
    background-color: #343F56;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}
/*Navigation Bar*/

.nav-container{
    width: 200px;
    background: transparent;
    height: 781px;
    position: relative;
    left: -30px;
    top: -710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav-container:after{
    content: "";
    position: absolute;
    top: 0;
    border:#151720 1px solid;
    bottom: 0;
    right: -20px;
    width: 2px;
    height: 100%;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 10%;
    background: #343F56;
}

.nav-item{
    width: 100%;
    height: 50px;
    display: flex;
    top: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

.nav-item:hover{
    opacity: 0.;
    background: #8f9dbb;
    color: #333;
}

.nav-item i {
    margin-right: 10px;
}

.nav-container img{
    display: flex;
    width: 100px;
    height: 100px;
    top: 50px;
    padding: 2px;
    border-radius: 50%;
    border-color: #1d284d;
    border-style: solid;
    margin-bottom: 20px;
}

.task-item {
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f2f4f245;
  }


